.bruin.yml
logs/runs
logs/*.log
__pycache__/
*.py[cod].DS_Store

*.py[cod]infra/.terraform/
# Terraform
infra/.terraform/
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl
# Terraform
infra/.terraform/
infra/.terraform.lock.hcl
infra/terraform.tfstate
infra/terraform.tfstate.*
infra/terraform.tfvars

*.py[cod]